.footer__links{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

.footer__links-item{
    border: 1px solid #333;
    padding: 5px;
    background-color: #333;
    text-decoration: none;
    color: white;

    &:hover{
        background-color: #d72323;
    }
}