.navbar__links{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

.navbar__link-item{
    color: grey;
    border: 1px solid grey;
    padding: 5px;

    &:hover{
        background-color: red;
    }
}
